:root.theme-1 {
    --background-color: #009900;
    --text-color: #ffffff;
    --selection-color: #000000;
    --accent-color: #39FF14;
    --border-color: #8dff76;
    --modal-bg-color: #fefefe;
    --modal-text-color: #ffffff;
    --modal-border-color: #888;
    --animation-color-1: #004400;
    --animation-color-2: #005700;
    --animation-color-3: #007a00;
    --animation-color-4: #008c00;
    --animation-color-5: #009e00;    
    --background-image: url('../img/Ruido.png');
    --background-image-matrix: url('../img/jfmatrix.webp');
    --background-paleta: url('../img/paleta-verde.png');
    --matrix-text-color: #0F0;
    --particles-color: #ffffff;
    --particles-line-color: #009900;
}

:root.theme-2 {
    --background-color: #ff0000;
    --text-color: #ffffff;
    --selection-color: #000000;
    --accent-color: #FF073A;
    --border-color: #ff4500;
    --modal-bg-color: #1100ff;
    --modal-text-color: #ffffff;
    --modal-border-color: #ff4500;
    --animation-color-1: #661111;
    --animation-color-2: #801515;
    --animation-color-3: #991919;
    --animation-color-4: #B22222;
    --animation-color-5: #CC2626;    
    --background-image: url('../img/Ruido2.png');
    --background-image-matrix: url('../img/jfmatrix2.webp');
    --background-paleta: url('../img/paleta-vermelha.png');
    --matrix-text-color: #F00;
    --particles-color: #ff0000;
    --particles-line-color: #ff6347;
}

:root.theme-3 {
    --background-color: #ffc0cb;
    --text-color: #ffffff;
    --selection-color: #000000;
    --accent-color: #ff69b4;
    --border-color: #db7093;
    --modal-bg-color: #fff0f5;
    --modal-text-color: #ffffff;
    --modal-border-color: #db7093;
    --animation-color-1: #FF66A3;
    --animation-color-2: #FF75B3;
    --animation-color-3: #FF85C2;
    --animation-color-4: #FF94D1;
    --animation-color-5: #FFA3E0;
    --background-image: url('../img/Ruido3.png');
    --background-image-matrix: url('../img/jfmatrix3.webp');
    --background-paleta: url('../img/paleta-rosa.png');
    --matrix-text-color: #FFC0CB;
    --particles-color: #ffc0cb;
    --particles-line-color: #ff69b4;
}

:root.theme-4 {
    --background-color: #0000ff;
    --text-color: #ffffff;
    --selection-color: #000000;
    --accent-color: #1e90ff;
    --border-color: #00bfff;
    --modal-bg-color: #add8e6;
    --modal-text-color: #ffffff;
    --modal-border-color: #1e90ff;
    --animation-color-1: #1e90ff;
    --animation-color-2: #4d4dff;
    --animation-color-3: #00bfff;
    --animation-color-4: #0000ff;
    --animation-color-5: #3333FF;    
    --background-image: url('../img/Ruido4.png');
    --background-image-matrix: url('../img/jfmatrix4.webp');
    --background-paleta: url('../img/paleta-azul.png');
    --matrix-text-color: #00F;
    --particles-color: #0000ff;
    --particles-line-color: #1e90ff; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--background-color);
    color: var(--selection-color);
}

/* body */
body {
    height: 100vh;
    margin: 0 auto;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: -2;
    width: 100%;
    height: 100%;
}

.input,
.output {
    margin: 1% 2%; 
    width: calc(50% - 4%);
}

/* particulas */
#particles-js {
    position: relative;
    z-index: -1;
}

/* navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 8%;
    border-radius: 50%;
    object-fit: cover;
    box-sizing: border-box;
}

nav img {
    width: 8%;
    margin: 1% 4% 0 8%;
    border-radius: 50%;
    animation: backgroundAnimation 10s infinite, float 3s ease-in-out infinite;
    object-fit: cover;
    box-sizing: border-box;
}

@keyframes backgroundAnimation {
    0%, 100% {
        background-color: var(--animation-color-1);
    }
    20% {
        background-color: var(--animation-color-2);
    }
    40% {
        background-color: var(--animation-color-3);
    }
    60% {
        background-color: var(--animation-color-4);
    }
    80% {
        background-color: var(--animation-color-5);
    }
}

@keyframes float {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-20px);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* drop */
.icon-palette-container {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-right {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: var(--background-paleta);
    animation: pulse 2s infinite;
    margin: 3%;
    margin-right: 5.4rem;
    margin-top: 1.75rem;
}

.dropdown-options {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: .75rem;
    display: none;
    position: absolute;
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    align-items: center;
}

.dropdown-options li {
    padding: 0.5rem;
    cursor: pointer;
}

.dropdown-options li:hover {
    background-color: #f0f0f0;
}

.color-circle {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    margin-right: 8px;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  .spin-animation {
    animation: spin 0.5s ease-in-out forwards;
  }

  @keyframes dropIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/* fim drop */

/* main */
main {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
}

/* input */
.input {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4%);
    margin: 1% 2% 1% 2%;
    padding: 1% 2%;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: var(--background-image);
    background-size: 100% 100%;
}

.input__textarea {
    height: 100%;
    border-radius: 8px;
    outline: none;
    font-size: 1rem;
}

.input__textarea__descricao {
    color: var(--text-color);
}

/* botão */
.input__button {
    display: flex;
    justify-content: space-between;
}

.input__button button {
    width: 50%;
    height: 2rem;
}

.input__button a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: var(--accent-color);
    font-size: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    letter-spacing: 4px;
}

.input__button a:hover {
    background: var(--accent-color);
    color: var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--accent-color), 0 0 25px var(--accent-color), 0 0 50px var(--accent-color), 0 0 100px var(--accent-color);
}

.input__button a span {
    position: absolute;
    display: block;
}

.input__button a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, var(--accent-color));
    animation: btn-anim1 1s linear infinite;
}

.input__button a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--accent-color));
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}

.input__button a span:nth-child(3) {
    bottom: 0;
    right: 100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, var(--accent-color));
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}

.input__button a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, var(--accent-color));
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}

.input__button a.hover span:nth-child(1) {
    left: 100%;
}

.input__button a.hover span:nth-child(2) {
    top: 100%;
}

.input__button a.hover span:nth-child(3) {
    right: -100%;
}

.input__button a.hover span:nth-child(4) {
    bottom: 100%;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}
/* fim input*/

/* output */
.output {
    display: flex;
    flex-direction: column;
    width: calc(50% - 4%);
    justify-content: center;
    align-items: center;
    margin: 1% 2% 1% 2%;
    padding: 1% 2% 1% 2%;
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.15);
    background-image: var(--background-image);
    background-size: 100% 100%;
}

.matrix-image {
    width: 20rem;
    height: 20rem;
    border-radius: 8px;
    background-image: var(--background-image-matrix);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.output__textos {
    font-size: 0.8rem;
}

.output__titulo,
.output__descricao {
    color: var(--text-color);
}

/* botão */
.output__button button {
    width: 20rem;
    height: 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--text-color);
    letter-spacing: 4px;
    font-size: 1rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.output__button button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--accent-color);
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.output__button button:hover:before {
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}

.output__button button:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid var(--text-color);
    box-sizing: border-box;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: top left;
    transform: scale(1);
}

.output__button button:hover:after {
    transition: transform 0.5s;
    transform-origin: bottom right;
    transform: scale(0);
}
/* fim output */

/* modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--modal-bg-color);
    margin: 15% auto;
    padding: 30px 20px; 
    border: 1px solid var(--modal-border-color);
    color: var(--modal-text-color);
    width: 18%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 16px;
    border: 1px solid var(--border-color);
    box-shadow: 4px 4px 20px 0px rgba(1, 8, 14, 0.95);
    background-image: var(--background-image);
    background-size: 100% 100%;
    animation: backgroundAnimation 10s infinite;
}

.close {
    color: var(--modal-text-color);
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    cursor: pointer;
    line-height: 2.5rem;
    vertical-align: middle;
    margin-top: -10px;
    animation: pulse .8s infinite;
}

.close:hover,
.close:focus {
    color: var(--modal-text-color);
    text-decoration: none;
}

/* fim modal */

/* footer */
footer {
    color: var(--text-color);
    text-align: center;
    margin-top: 2rem;
}
/* fim footer */

/* responsividade */
@media (max-width: 965px) {
    .input__button button {
        width: 45%;
        height: 2rem;
    }
    
    .input__button a {
        padding: 8px 16px;
        font-size: 0.9rem;
        letter-spacing: 2px;
    }

    .icon-right {
        width: 3.75rem;
        height: 3.75rem;
        margin: 5%;
        margin-right: 3rem;
        margin-top: 1.75rem;
    }
    
    .dropdown-options {
        margin-right: .75rem;
        top: 60%;
    }

}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

    .input,
    .output {
        width: 96%;
        margin: 1% 2%;
    }

    .input__button,
    .output__button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .input__textarea {
        height: 10rem;
        border-radius: 8px;
    }

    .input__button button {
        width: 48%;
        margin-top: 1rem;
    }
    .output img {
        width: 10rem;
    }

}

@media (max-width: 500px) {
    nav img {
        width: 16%;
        margin: 1% 4% 0 12%;
    }

    .input__button button {
        width: 30%;
        height: 2rem;
    }
    
    .input__button a {
        padding: 10px 20px;
        font-size: 0.9rem;
        letter-spacing: 3px;
    }

    .input__textarea {
        height: 19rem;
    }

    .output {
        margin-top: 25px;
    }

    .output img {
        width: 19rem;
    }

    .modal-content {
        width: 50%;
        margin-top: 50%;
    }

    .icon-right {
        width: 4.5rem;
        height: 4.5rem;
        margin: 5%;
        margin-right: 2.25rem;
        margin-top: 1.75rem;
    }
    
    .dropdown-options {
        margin-right: .75rem;
        top: 60%;
    }

    footer {
        margin-top: 0;
    }
}

@media (max-width: 445px) {
    nav img {
        width: 12%;
        margin: 1% 4% 0 12%;
    }

    .input__button button {
        width: 30%;
        height: 2rem;
    }
    
    .input__button a {
        padding: 5px 10px;
        font-size: 0.8rem;
        letter-spacing: 2px;
    }

    .input__textarea {
        height: 20rem;
    }

    .output {
        margin-top: 25px;
    }

    .output img {
        width: 20rem;
    }

    .icon-right {
        width: 3.5rem;
        height: 3.5rem;
        margin: 5%;
        margin-right: 2rem;
        margin-top: 1.75rem;
    }
    
    .dropdown-options {
        margin-right: .75rem;
        top: 60%;
    }

    .modal-content {
        width: 50%;
        margin-top: 40%;
    }
}

@media (max-width: 400px) {
    .icon-right {
        width: 3rem;
        height: 3rem;
        margin: 5%;
        margin-right: 1.75rem;
        margin-top: 1rem;
    }
    
    .dropdown-options {
        margin-right: .75rem;
        top: 60%;
    }
}

@media (max-width: 365px) {
    nav img {
        width: 12%;
        margin: 1% 4% 0 10%;
    }

    .input__button button {
        width: 15%;
        height: 2rem;
    }
    
    .input__button a {
        padding: 3px 6px;
        font-size: 0.7rem;
        letter-spacing: 1.5px;
    }

    .input__textarea {
        height: 15rem;
    }

    .output {
        margin-top: 15px;
    }

    .output img {
        width: 15rem;
    }

    .output__button button {
        width: 15rem;
        height: 2rem;
        justify-content: center;
        align-items: center;
        padding: 2px 4px;
        letter-spacing: 4px;
        font-size: 0.5rem;
    }

    .icon-right {
        width: 3rem;
        height: 3rem;
        margin: 5%;
        margin-right: 1.75rem;
        margin-top: 1rem;
    }
    
    .dropdown-options {
        margin-right: .25rem;
        top: 60%;
    }
}
/* fim responsividade */